*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
}

img{
    max-width: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 10px;
}

.picture{
    width: calc(100% / 3 - (20px / 3));
}

.ty{
    position: relative;
}

.heart{
    font-size: x-large;
    position: absolute;
    top: 2%;
    right: 0;
    background-color: #fff;
    padding: 1% 3%;
}

.saldi{
    color: #fff;
    display: flex;
    position: absolute;
    top: 85%;
    gap: 8px;
}

.red{
    background-color: #FF0000;
    padding: 2px 5px;
}

.green{
    background-color: #008000;
    padding: 3px 5px;
}

.rosso{
    color: #FF0000;
}

.riga{
    text-decoration: line-through;
}

.heart:hover{
    color:#FF0000
}